.nome{
    text-align: center;
    padding: 15px;
    margin: 15px;
}
body{
    background-color:rgba(255, 198, 43, 0.925);
}

.fotopessoal{
    background-color:rgba(6, 255, 180, 0.808);
    border: 4px solid rgba(43, 196, 150, 0.637);
    margin: 10px;
    padding: 10px;
    width: auto;
    float: left;
     
}

.descricao{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
    top:300px;
    padding: 35px;
    
}

.habilidades{
    clear: both;

}

.habilidades li:nth-child(odd){
    background:lime;
    
}
